html {
    background: url(images/beach.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    box-sizing: border-box;
}

@font-face {
    font-family: myFontFamily;
    src: url(fonts/slkscreb.ttf);
}

.title {
    text-align: center;
    font-size: 56px;
    font-family: myFontFamily;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    border-radius: 4px;
    margin-top: 125px;
}

.rock, .paper, .scissors{
    width: 100px;
}

.results {
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #000;
    font-family: myFontFamily;
}

.score-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: myFontFamily;
}