body {
    box-sizing: border-box;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 20px 30px;
    font-size: 10px;
    font-weight: bold;
    min-width: 150px;
}

.results {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 60px;
}